@font-face {
  font-family: "averta";
  src: url("../fonts/AvertaDemo-Regular.otf");
}

* {
  font-family: averta;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:15;
    background: rgba(255, 255, 255, 0.696);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    

}

.sidebar a {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
  }
  
  .sidebar a img{
      margin-left: 190px;
      margin-top: 20px;
      width: 40px;
  }
  
  .sidebar :hover {
    color: #a5410f;
    filter: drop-shadow(10px 10px 20px #a5410f);
  }
  
  
  .sidebar button {
    background-color: transparent;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    color: #a5410f;
    border: 1px solid #a5410f;

  }
  
  .sidebar button:hover {
    background-color: #a5410f;
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    filter: drop-shadow(5px 5px 10px #a5410f);
  }


 .nav {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 20px;
  margin-top: -19px;
  background: rgba(255, 255, 255, 0.938);
  border-bottom: 1px solid rgba(177, 174, 174, 0.433);
  text-decoration: none;
  z-index: 10;
}

.nav .logo{
    
    margin-left: 100px;
}

.nav .logo img{
    width: 300px;
   
}

.nav a {
  position: relative;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.nav a img{
    margin-right: 50px;
    width: 40px;
}

.nav :hover {
  color: #a5410f;
  filter: drop-shadow(10px 10px 20px #a5410f);
}

.logo {
  margin-left: 100px;
  margin-right: 100px;
}



/* nav bar Responsive Styles for Tab */

@media screen and (max-width: 1140px){

    .nav .hide{
        display: none;
    }

    .nav .logo{
    
        margin-left: 20px;
    }
    
    .nav .logo img{
        width: 150px;
       
    }
      
      .sidebar a {
        position: relative;
        font-size: 20px;
        margin-bottom: 20px;
        color: #000000;
        text-decoration: none;
        display: inline-block;
      }
      
      .sidebar a img{
          margin-left: 190px;
          margin-top: 20px;
          width: 40px;
      }
      
      .sidebar :hover {
        color: #a5410f;
        filter: drop-shadow(10px 10px 20px #a5410f);
      }
      
      
   
    

}

/* Nav bar Responsive Styles for Mobile Devices */

@media screen and (max-width: 455px){


    .sidebar{
        background-color: #ffffffdf;
    }

    .nav .hide{
        display: none;
    }

    .nav .logo{
    
        margin-left: 20px;
    }
    
    .nav .logo img{
        width: 150px;
       
    }


      
      .sidebar a {
        position: relative;
        font-size: 20px;
        margin-bottom: 20px;
        color: #000000;
        text-decoration: none;
        display: inline-block;
      }
      
      .sidebar a img{
          margin-left: 190px;
          margin-top: 20px;
          width: 40px;
      }
      
      .sidebar :hover {
        color: #a5410f;
        filter: drop-shadow(10px 10px 20px #a5410f);
      }
      
      
      .sidebar button {
        background-color: transparent;
        width: 150px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
        color: #a5410f;
        border: 1px solid #a5410f;

      }
      
      .sidebar button:hover {
        background-color: #a5410f;
        width: 180px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
        border: none;
        color: #ffffff;
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
    

}

 /*-------------------------------------------------- -----------------------------  nav bar section ends here --------------------------------------------------------*/








/* ---------------------------------------------------------------------     Case Study  Section5 Starts Here   ------------------------------------------------------ */

.section5{
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  margin-top: 100px;

}

.section5 P{

  color: #8b8b8b;
  font-size: 20px;
  margin-left: 80px;
   
}

.section5 h6{

  color: #000000;
  font-size: 50px;
  margin-left: 80px;
  margin-bottom: -20px;
  margin-top: -0px;
}

.section5 h1{

  color: #a5410f;
  font-size: 50px;
  margin-left: 80px;
  padding: 0;
   
}

.card-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.card{
  width: 400px;
  height: 400px;
  filter: drop-shadow(5px 5px 10px #a5410f);
  border-radius: 10px;
  
}

.card:hover{
  box-shadow: 5px 5px 10px #a5410f14;
  transition: transform 0.9s;
  transform: scale(1.1);
}

.card h6{
  color: #a5410f;
  font-size: 15px;
  margin: 20px;
}

.card p{
  color: #8b8b8b;
  font-size: 15px;
  margin: 20px;
}

.card img{
  border-radius: 10px;
}




/* Section5 Responsive Styles for Tab Devices */

@media screen and (max-width: 1140px){


  .section5{
      width: 100vw;
      height: 500px;
      background: #ffffff;
  
  }
  
  .section5 P{
  
      color: #8b8b8b;
      font-size: 25px;
       
  }
  
  .section5 h6{
  
      color: #000000;
      font-size: 25px;
  }
  
  .section5 h1{
  
      color: #a5410f;
      font-size: 25px;
      margin-top: 30px;
       
  }
  
  .card-container{
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .card{
      width: 200px;
      height: 200px;
      filter: drop-shadow(5px 5px 10px #a5410f);
      border-radius: 10px;
      margin-bottom: 10px;
      margin-top: 50px;
      margin-right: 60px;
      
  }
  
  .card:hover{
      box-shadow: 5px 5px 10px #a5410f14;
      transition: transform 0.9s;
      transform: scale(1.1);
  }
  
  .card h6{
      color: #a5410f;
      font-size: 12px;
      margin: 10px;
  }
  
  .card p{
      color: #8b8b8b;
      font-size: 10px;
      margin: 10px;
  }
  
  .card img{
      border-radius: 10px;
      width: 200px;
  }
}



/* Section5 Responsive Styles for Mobile Devices */

@media screen and (max-width: 855px){


  .section5{
      width: 100vw;
      height: 1400px;
      background: #ffffff;
  
  }
  
  .section5 P{
  
      color: #8b8b8b;
      font-size: 22px;
       
  }
  
  .section5 h6{
  
      color: #000000;
      font-size: 25px;
  }
  
  .section5 h1{
  
      color: #a5410f;
      font-size: 25px;
      margin-top: 30px;
       
  }
  
  .card-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
  }
  
  .card{
      width: 302px;
      height: 330px;
      filter: drop-shadow(5px 5px 10px #a5410f);
      border-radius: 10px;
      margin-bottom: 20px;
      margin-left: 50px;
      
  }
  
  .card:hover{
      box-shadow: 5px 5px 10px #a5410f14;
      transition: transform 0.9s;
      transform: scale(1.1);
  }
  
  .card h6{
      color: #a5410f;
      font-size: 15px;
      margin: 20px;
  }
  
  .card p{
      color: #8b8b8b;
      font-size: 15px;
      margin: 10px;
  }
  
  .card img{
      border-radius: 10px;
      align-items: center;
      width: 300px;
  }
}


/* Section5 Responsive Styles for Mobile Devices */

@media screen and (max-width: 455px){


  .section5{
      width: 100vw;
      height: 1300px;
      background: #ffffff;
  
  }
  
  .section5 P{
  
      color: #8b8b8b;
      font-size: 20px;
       
  }
  
  .section5 h6{
  
      color: #000000;
      font-size: 20px;
  }
  
  .section5 h1{
  
      color: #a5410f;
      font-size: 20px;
      margin-top: 30px;
       
  }
  
  .card-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
  }
  
  .card{
      width: 300px;
      height: 300px;
      filter: drop-shadow(5px 5px 10px #a5410f);
      border-radius: 10px;
      margin-bottom: 20px;
      margin-left: 50px;
      
  }
  
  .card:hover{
      box-shadow: 5px 5px 10px #a5410f14;
      transition: transform 0.9s;
      transform: scale(1.1);
  }
  
  .card h6{
      color: #a5410f;
      font-size: 15px;
      margin: 20px;
  }
  
  .card p{
      color: #8b8b8b;
      font-size: 15px;
      margin: 10px;
  }
  
  .card img{
      border-radius: 10px;
      width: 300px;
  }
}


/* -----------------------------------------------------------  Case Study Section5 Ends Here  ---------- -----------------------------------------------------------*/

/* ----------------------------------------------------------------   footer Section Starts Here      ----------------------------------------------------------------  */

.footer {
  background-color: #f2f4f7;
  padding: 40px 20px;
  color: #6c757d;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-about,
.footer-links,
.footer-contact {
  max-width: 250px;
}

.footer-logo {
  width: 200px;
  margin-bottom: 10px;
}

.footer h4 {
  color: #000;
  font-size: 23px;
  margin-bottom: 15px;
}

.footer p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.footer .highlight {
  color: #f15a22;
}

.footer-links ul {
  list-style: circle;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 18px;
}

.footer-links ul li a {
  color: #6c757d;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.footer-contact p i {
  margin-right: 8px;
}

.footer-social a i {
  background: white;
  border-radius: 50%;
  padding: 18px;
}
.footer-social a {
  text-decoration: none;
  color: #f15a22;
  font-size: 20px;
  margin-right: 15px;
}

.footer-social a:hover {
  color: #a5410f;
  filter: drop-shadow(5px 5px 10px #a5410f);
}
/* ------------------------------------------------------------------   footer Section Ends Here   --------- ----------------------------------------------------  */
