@font-face {
  font-family: "averta";
  src: url("../fonts/AvertaDemo-Regular.otf");
}

* {
  font-family: averta;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:15;
    background: rgba(255, 255, 255, 0.696);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    

}

.sidebar a {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
  }
  
  .sidebar a img{
      margin-left: 190px;
      margin-top: 20px;
      width: 40px;
  }
  
  .sidebar :hover {
    color: #a5410f;
    filter: drop-shadow(10px 10px 20px #a5410f);
  }
  
  
  .sidebar button {
    background-color: transparent;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    color: #a5410f;
    border: 1px solid #a5410f;

  }
  
  .sidebar button:hover {
    background-color: #a5410f;
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    filter: drop-shadow(5px 5px 10px #a5410f);
  }


 .nav {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 20px;
  margin-top: -8px;
  background: rgba(255, 255, 255, 0.938);
  border-bottom: 1px solid rgba(177, 174, 174, 0.433);
  text-decoration: none;
  z-index: 10;
}

.nav .logo{
    
    margin-left: 100px;
}

.nav .logo img{
    width: 300px;
   
}

.nav a {
  position: relative;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.nav a img{
    margin-right: 50px;
    width: 40px;
}

.nav :hover {
  color: #a5410f;
  filter: drop-shadow(10px 10px 20px #a5410f);
}

.logo {
  margin-left: 100px;
  margin-right: 100px;
}



/* nav bar Responsive Styles for Tab */

@media screen and (max-width: 1140px){

    .nav .hide{
        display: none;
    }

    .nav .logo{
    
        margin-left: 20px;
    }
    
    .nav .logo img{
        width: 150px;
       
    }
      
      .sidebar a {
        position: relative;
        font-size: 20px;
        margin-bottom: 20px;
        color: #000000;
        text-decoration: none;
        display: inline-block;
      }
      
      .sidebar a img{
          margin-left: 190px;
          margin-top: 20px;
          width: 40px;
      }
      
      .sidebar :hover {
        color: #a5410f;
        filter: drop-shadow(10px 10px 20px #a5410f);
      }
      
      
   
    

}

/* Nav bar Responsive Styles for Mobile Devices */

@media screen and (max-width: 455px){


    .sidebar{
        background-color: #ffffffdf;
    }

    .nav .hide{
        display: none;
    }

    .nav .logo{
    
        margin-left: 20px;
    }
    
    .nav .logo img{
        width: 150px;
       
    }


      
      .sidebar a {
        position: relative;
        font-size: 20px;
        margin-bottom: 20px;
        color: #000000;
        text-decoration: none;
        display: inline-block;
      }
      
      .sidebar a img{
          margin-left: 190px;
          margin-top: 20px;
          width: 40px;
      }
      
      .sidebar :hover {
        color: #a5410f;
        filter: drop-shadow(10px 10px 20px #a5410f);
      }
      
      
      .sidebar button {
        background-color: transparent;
        width: 150px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
        color: #a5410f;
        border: 1px solid #a5410f;

      }
      
      .sidebar button:hover {
        background-color: #a5410f;
        width: 180px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
        border: none;
        color: #ffffff;
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
    

}

 /*-------------------------------------------------- -----------------------------  nav bar section ends here --------------------------------------------------------*/




 

/* -----------------------------------------------------------------------------      Section4   ---- ----------------------------------------------------------------- */

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  margin-bottom: 100px;
  margin-top: 100px;

}

.section4-img-div {
  width: 50%;
  align-items: center;
  margin-top: 200px;
  margin-left: 50px;
}

.section4-img-div img {
  width: 630px;
  margin-top: 80px;
}

.section4-img-div img:hover {
  filter: drop-shadow(5px 5px 10px #a5410f);
}

.section4-content-div {
  width: 50%;
  align-items: center;
  margin-top: 150px;
  margin-right: 50px;
}

.section4-content-div h6 {
  font-size: 35px;
  color: #000000;
  font-weight: bolder;
  margin-left: -180px;
  margin-top: -50px;
}

.section4-content-div h6 span {
  color: #a5410f;
  filter: drop-shadow(5px 5px 20px #a5410f);
}
.section4-content-div h3 {
  font-size: 35px;
  color: black;
  font-weight: 900;
}

.section4-content-div h2 {
  font-size: 40px;
  color: #a5410f;
}

.section4-content-div h2:hover {
  filter: drop-shadow(5px 5px 10px #a5410f);
}

.section4-content-div p {
  color: #8b8b8b;
}

.section4-content-div a {
  font-size: 16px;
  color: #a5410f;
  text-decoration: none;
  margin-top: 30px;
}

.section4-content-div a:hover {
  filter: drop-shadow(5px 5px 10px #a5410f);
  border: none;
}



/* Section4 Responsive Styles for Small Desktop Devices */

@media screen and (max-width: 1140px){
    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 600px;
        margin: 0;   
      }
      
      .section4-img-div {
        width: 50%;
        align-items: center;
      }
      
      .section4-img-div img {
        width: 390px;
      }
      
      .section4-img-div img:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div {
        width: 50%;
        margin-left: 30px;
     
      }
      
      .section4-content-div h6 {
        font-size: 20px;
        color: #000000;
        font-weight: bolder;
        margin-left:-100px;
      }
      
      .section4-content-div h6 span {
        color: #a5410f;
        filter: drop-shadow(5px 5px 20px #a5410f);
      }
      .section4-content-div h3 {
        font-size: 20px;
        color: black;
        font-weight: 900;
      }
      
      .section4-content-div h2 {
        font-size: 20px;
        color: #a5410f;
      }
      
      .section4-content-div h2:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div p {
        color: #8b8b8b;
        font-size: 12px;
      }
      
      .section4-content-div a {
        font-size: 15px;
        color: #a5410f;
        text-decoration: none;
      }
      
      .section4-content-div a:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
        border: none;
      }
      
    }


    /* Section4 Responsive Styles for Tab Devices */

@media screen and (max-width: 850px){
    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        min-height: 1090px;
        margin-bottom: -110px;
        
      }
      
      .section4-img-div {
        width: 100%;
        align-items: center;
        margin-top: -200px;
      }
      
      .section4-img-div img {
        width: 400px;
        margin-left: 8%;
      }
      
      .section4-img-div img:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div {
        width: 80%;
        margin-top: -0px;
        margin-top: 50px;
      }
      
      .section4-content-div h6 {
        font-size: 22px;
        color: #000000;
        font-weight: bolder;
        margin: 0;
      }
      
      .section4-content-div h6 span {
        color: #a5410f;
        filter: drop-shadow(5px 5px 20px #a5410f);
      }
      .section4-content-div h3 {
        font-size: 26px;
        color: black;
        font-weight: 900;
      }
      
      .section4-content-div h2 {
        font-size: 25px;
        color: #a5410f;
      }
      
      .section4-content-div h2:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div p {
        color: #8b8b8b;
        font-size: 15px;
      }
      
      .section4-content-div a {
        font-size: 20px;
        color: #a5410f;
        text-decoration: none;
      }
      
      .section4-content-div a:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
        border: none;
      }
      
    }


    
/* Section4 Responsive Styles for Mobile Devices */

@media screen and (max-width: 455px){
    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        min-height: 1090px;
        margin-bottom: -110px;
        
      }
      
      .section4-img-div {
        width: 100%;
        align-items: center;
        margin-top: -200px;
      }
      
      .section4-img-div img {
        width: 300px;
      }
      
      .section4-img-div img:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div {
        width: 80%;
        margin-left: 50px;
      }
      
      .section4-content-div h6 {
        font-size: 18px;
        color: #000000;
        font-weight: bolder;
        margin: 0;
      }
      
      .section4-content-div h6 span {
        color: #a5410f;
        filter: drop-shadow(5px 5px 20px #a5410f);
      }
      .section4-content-div h3 {
        font-size: 20px;
        color: black;
        font-weight: 900;
      }
      
      .section4-content-div h2 {
        font-size: 20px;
        color: #a5410f;
      }
      
      .section4-content-div h2:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
      }
      
      .section4-content-div p {
        color: #8b8b8b;
        font-size: 12px;
      }
      
      .section4-content-div a {
        font-size: 16px;
        color: #a5410f;
        text-decoration: none;
      }
      
      .section4-content-div a:hover {
        filter: drop-shadow(5px 5px 10px #a5410f);
        border: none;
      }
      
    }


   
/* -----------------------------------------------------------------------------      Section4   ---- ----------------------------------------------------------------- */



/* --------------------------------------------------------------   Form CSS Starts here -------------------------------------------------------------------*/



/*------------------------------------------------------------------ Contact Form -------------------------------*/



.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Popup content */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  position: relative;
  filter: drop-shadow(5px 5px 10px #a5410f43);
margin: 30px;
padding: 30px;
}
.leadForm1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div1 img {
  margin-bottom: 10px;
  width: 200px;
}

.form-div1 img:hover {
  filter: drop-shadow(10px 10px 20px #a5410f43);
}



/* Form styling */
form label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

form input,
form textarea {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  color: #a5410f;
}

form button[type="submit"] {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #626060;
  color: white;
  border: none;
  cursor: pointer;
  width: 85%;
  border-radius: 10px;
  margin-bottom: 30px;
}

#btn2:hover {
  background-color: #ff561d;
}

form button[type="submit"]:hover {
  background-color: #a5410f;
}


@media screen and (max-width: 550px){

  .popup-content {
    width: 100%;
  }

  .form-div1 img {
    margin-bottom: 10px;
    width: 150px;
  }
}



/*------------------------------------------------------------------ Contact Form -------------------------------*/


/* ----------------------------------------------------------------   footer Section Starts Here      ----------------------------------------------------------------  */

.footer {
  background-color: #f2f4f7;
  padding: 40px 20px;
  color: #6c757d;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-about,
.footer-links,
.footer-contact {
  max-width: 250px;
}

.footer-logo {
  width: 200px;
  margin-bottom: 10px;
}

.footer h4 {
  color: #000;
  font-size: 23px;
  margin-bottom: 15px;
}

.footer p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.footer .highlight {
  color: #f15a22;
}

.footer-links ul {
  list-style: circle;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 18px;
}

.footer-links ul li a {
  color: #6c757d;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.footer-contact p i {
  margin-right: 8px;
}

.footer-social a i {
  background: white;
  border-radius: 50%;
  padding: 18px;
}
.footer-social a {
  text-decoration: none;
  color: #f15a22;
  font-size: 20px;
  margin-right: 15px;
}

.footer-social a:hover {
  color: #a5410f;
  filter: drop-shadow(5px 5px 10px #a5410f);
}
/* ------------------------------------------------------------------   footer Section Ends Here   --------- ----------------------------------------------------  */
